<a href="https://colab.research.google.com/github/julianasaha/Project-2/blob/main/Project_2_Part_1_(Core).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project 2 - Part 1 (Core)
- Juliana Sahagun
- 07/06/22

In [ ]:
# Import libraries
import pandas as pd

# Option One: Credit Card Fraud

In [ ]:
df= pd.read_csv('/content/card_transdata.csv')
df.head()

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
0,57.877857,0.311140,1.945940,1.0,1.0,0.0,0.0,0.0
1,10.829943,0.175592,1.294219,1.0,0.0,0.0,0.0,0.0
2,5.091079,0.805153,0.427715,1.0,0.0,0.0,1.0,0.0
3,2.247564,5.600044,0.362663,1.0,1.0,0.0,1.0,0.0
4,44.190936,0.566486,2.222767,1.0,1.0,0.0,1.0,0.0

In [ ]:
df.shape

(1000000, 8)

Source: [link text](https://www.kaggle.com/datasets/dhanushnarayananr/credit-card-fraud)

Description of Data:

>  The data included features like: distance from home when transaction was made, distance away from the last transaction, repeat retail and more to help determine whether or not a transaction is considered fraud.


Target:

> 'Fraud'


Classification Problem

> Is the transaction fraudulent ?

Size of the Data

>123716 rows, 8 columns

# Option Two: Diabetes

In [ ]:
df = pd.read_csv('/content/archive.zip')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
# no missing values
df.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

Source: [link text](https://www.kaggle.com/datasets/pritsheta/diabetes-dataset)

Description of Data:

>  The data included features like: Pregrancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigree and Age to help determine whether or not a patient is postive for diabetes.


Target:

> ''Outcome'


Classification Problem

> Is the person positive for diabetes ?

Size of the Data

> 768 rows, 9 columns


 What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?
- Dealing with outliers in certain columns like 'Pregancies' might be a challenge when cleaning the data.
- This dataset is small so the metrics may not be as high.